* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 500px;
  background-color: #224C77;
  position: relative;
}

.menu {
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.menu::after {
  content: "";
  display: table;
  clear: both;
}

.logo, .nav-sin, .nav-des {
  float: left;
}

.nav-sin, .nav-des {
  width: 37.5%;
}

.logo {
  width: 25%;
}

.menu ul li {
  list-style: none;
  padding: 0 10px;
  display: inline-block;
  text-transform: uppercase;
}

.menu ul a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.menu ul li:hover {
  text-decoration: underline;
}

button {
  background-color: #7CBB02;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  border: 0;
  padding: 10px;
}

#tasto {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
}

.banner img {
  height: 70%;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.banner h1 {
  color: white;
  font-size: 50px;
  width: 30%;
  position: absolute;
  top: 30%;
  left: 10%;
}

.banner button {
  position: absolute;
  top: 60%;
  left: 10%;
  padding: 20px;
}

.intro {
  height: 120px;
  background-color: lightgray;
  text-align: center;
  position: relative;
}

.testo-ads {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testo-ads p {
  padding-top: 15px;
  color: gray;
}
